<nav class="navbar" style="background-color: rgb(45, 52, 101);">
  <!-- Navbar content -->
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand"  href="#">Revenue Forecast Portal</a>
      </div>
    </nav>
  </div>
</nav>
<!-- <section> -->
    
  <!-- <div class="portalname">Welcome to Revenue Forcase Portal</div> -->

    <div class="card" >
      
        <div class="container-fluid">
          <!-- <p>Revenue Forcast Portal</p> -->
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" [(ngModel)]="loginObj.EmailId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="Email" required>
                  <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" [(ngModel)]="loginObj.Password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password" required>
                </div>
                <div class="mb-3 form-check">
                 
                </div>
                <div class="loginbutton"><button type="button" (click)="onLogin()" class="btn btn-primary">Login</button></div>
              </form>
          </div>
      </div>

   


<!-- </section> -->